{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Home</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark border-bottom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="about-format container-fluid bg-dark fade-in">
        <div class="row flex-fill h100">
            <div class="col-sm-3 h-50">
                <div class="mt-5 ml-5">
                    <img id="profile-pic" src="{% static 'images/profile.jpg' %}">
                </div>
            </div>
            <div class="col-sm-3 h-25 display-5 text-justify" style="color: white;">
                <p class="display-4 mt-3 font-weight-bold">About Me</p>
            <div class="display-5">
                <p> 
                    I currently work as a Python Developer, developing ERP open-source software. 
                    I'm also enrolled in Lewis University completing a MS in Data Science.
                </p>
                <p>
                    As a Software Developer I enjoy building things, like this website. 
                    As a Data Scientist, I enjoy answering research questions. Lately I've been trying
                    to combine these two interests.
                </p>
                <span>
                    <a href="https://drive.google.com/file/d/1Ijdseg_cOldxHJHULeQ8b75OZ4faT_Xj/view?usp=sharing">
                        <button type="button" class="btn btn-primary mb-5">
                            View My Resume
                        </button>
                    </a>
                </span>
            </div>
            </div>
            <div class="col-sm-3 h-25 display-5 mt-6 ml-3 text-justify" style="color: white;">
                <p> 
                    Here's the technologies I've been working with recently:
                </p>
                <ul>
                    <li>Html & CSS</li>
                    <li>XML</li>
                    <li>Python</li>
                    <li>Django</li>
                    <li>Odoo</li>
                    <li>Postgresql</li>
                    <li>Google Cloud</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
