{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <nav id="navbar">
        <ul>
            <li><a id="nav-logo" href="#home-section">Chandler Calderon</a></li>
            <li><a href="#about-section">About</a></li>
            <li><a href="#projects-section">Projects</a></li>
            <li><a href="#contact-section">Contact</a></li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
