{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{% static '/js/app.js' %}"></script>
    <title>{% block title %}Home{% endblock %}</title>
</head>
<body>
    <nav class="navbar" id="myNav">
        <a id="nav-logo" class="active" href="/">Chandler Calderon</a>
        <a href="/projects">Projects</a>
        <a href="/contact">Contact</a>
        <a href="javascript:void(0);" class="icon" onclick="clickNav()">
            <i class="fa fa-bars"></i>
        </a>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
