{% extends 'home/base.html' %}
{% load static %}
{% block title %}Home{% endblock %}</title>

{% block content %}
<div id="home-section" class="fade-in">
    <div id="home-left">
        <video width="250" playsinline autoplay muted loop>
            <source src="{% static 'video/hello_edited.mp4' %}" type="video/mp4">
        </video>
        <div id="email">
            chandler.calderon@gmail.com
        </div>
        <div>
            <a href="https://github.com/chancald">
                <img src="{% static 'images/github-logo.png' %}" height="30px" alt="Github logo">
            </a>
            <a href="https://www.linkedin.com/in/chandler-calderon-813768144/">
                <img src="{% static 'images/linkedin-logo.png' %}" height="30px" alt="Linkedin logo">
            </a>
        </div>

    </div>

    <div id="home-right">
        <p>Hi, I'm a Software Developer interested in <u>Computer Science</u> and <u>Artificial Intelligence</u>.
        </p>
        <p>
            Currently, I am:
            <ul>
                <li>Working as a <u>Python Developer</u> designing, developing and maintaining ERP software.</li>
                <li>Completing a MS in <u>Data Science</u> with a Computer Science concentration.</li>
            </ul>
        </p>
        <p>Lately I've been working with the following technologies:
            <ul>
                <li><u>Python</u> (numpy, pandas, matplotlib, scikit-learn, keras)</li>
                <li><u>Django</u></li>
                <li><u>Odoo</u></li>
                <li><u>Html & CSS</u></li>
                <li><u>Javascript</u></li>
                <li><u>Google Cloud</u></li>
            </ul>
        </p>
    </div>
</div>

<!-- <div id="chevron" >
    <img src="https://img.icons8.com/ios-filled/100/000000/chevron-down.png" alt="Chevron animation">
</div> -->



{% endblock %}
