
{% load static %}
<!doctype html>
<html lang="en">
<head>
   <!-- Required meta tags -->
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
   <!-- Bootstrap CSS -->
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
       integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
       <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
       <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   <title>Mascarillas </title>
</head>
<body>
    <nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark border-bottom">
        <a class="navbar-brand mb-0 mt-0 p-0" href="#">
            <img src="{% static 'images/mask-logo2.png' %}" height="30px">
          </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a href="#masks-section" class="nav-link" href="/about">Mascarillas</a>
                </li>
                <li class="nav-item">
                    <a href="#contact-section" class="nav-link" href="/contact">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="home-section" class="container-md" style="padding-top:70px;">
        <div class="bg-dark text-center fade-in-4"  >
            <p class="display-2" style="color: #FFEFD5;">Mascarillas & Más<t class="font-weight-bold" ></t>
            <img class="mb-4 mt-4" src="{% static 'images/mask-logo2.png' %}" height="100px">
        </div>
    </div>

    <div id="masks-section" class="container-md" style="padding-top:70px;">
        <div class="container">
            <div class="row ">
                <div class="col-sm-4">
                    <div class="card m-3" style="width: 18rem;">
                        <img src="{% static 'images/mask1.jpg' %}" class="card-img-top">
                        <div class="card-body">
                        <h5 class="card-title">Original</h5>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card m-3" style="width: 18rem;">
                        <img src="{% static 'images/mask2.jpg' %}" class="card-img-top">
                        <div class="card-body">
                        <h5 class="card-title">Ninja</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card m-3" style="width: 18rem;">
                        <img src="{% static 'images/mask3.jpg' %}" class="card-img-top">
                        <div class="card-body">
                        <h5 class="card-title">Original</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-4">
                    <div class="card m-3" style="width: 18rem;">
                        <img src="{% static 'images/mask4.jpg' %}" class="card-img-top">
                        <div class="card-body">
                        <h5 class="card-title">Original</h5>
                        <h5>RD$450</h5>    
                    </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card m-3" style="width: 18rem;">
                        <img src="{% static 'images/mask5.jpg' %}" class="card-img-top">
                        <div class="card-body">
                        <h5 class="card-title">Original</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        
                    </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card m-3" style="width: 18rem;">
                        <img src="{% static 'images/mask6.jpg' %}" class="card-img-top">
                        <div class="card-body">
                        <h5 class="card-title">Ninja</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-sm-4">
                    <div class="card m-3" style="width: 18rem;">
                        <img src="{% static 'images/mask7.jpg' %}" class="card-img-top">
                        <div class="card-body">
                        <h5 class="card-title">Original</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card m-3" style="width: 18rem;">
                        <img src="{% static 'images/mask8.jpg' %}" class="card-img-top">
                        <div class="card-body">
                        <h5 class="card-title">Pato</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="card m-3" style="width: 18rem;">
                        <img src="{% static 'images/mask9.jpg' %}" class="card-img-top">
                        <div class="card-body">
                        <h5 class="card-title">Ninja</h5>
                        Blanco
                        <h5>RD$300</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</body>
<!-- Footer -->
<footer class="page-footer bg-dark font-small mdb-color lighten-3 pt-4" style="color: white;">

    <!-- Footer Links -->
    <div class="container text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mr-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Content -->
          <h5 class="font-weight-bold text-uppercase mb-4">Descripcion</h5>
          <p>Mascarillas de telas personalizadas. Puede elegir la tela, el color y el tamano. Hechas a mano.</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Links -->
          <h5 class="font-weight-bold text-uppercase mb-4">Contacto</h5>
  
          <ul class="list-unstyled">
            <li>
              <p>
                Marisol Barinas
              </p>
            </li>
            <li>
              <p>
                829-343-7332
              </p>
            </li>
            <li>
                <a href="">
                    <img  src="{% static 'images/whatsapp-logo.png' %}" height="35px">
                </a>
            </li>
            
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 mx-auto my-md-4 my-0 mt-4 mb-1">
  
          <!-- Contact details -->
          <h5 class="font-weight-bold text-uppercase mb-4">Dirección</h5>
  
          <ul class="list-unstyled">
            <li>
            <p>Villa Marina, Distrito Nacional, República Dominicana</p>
            </li>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none">
  
  
  
      </div>
      <!-- Grid row -->
  
    </div>
    <!-- Footer Links -->
  
    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2020 Copyright:
      <a href="https://mdbootstrap.com/">chandlercalderon.com</a>
    </div>
    <!-- Copyright -->
  
  </footer>
  <!-- Footer -->
</html>
