{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Projects</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark border-bottom">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/projects">Projects</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="projects-section"class="container projects-format">
            <p class="display-4 mb-5 font-weight-bold">Projects</p>
        <div class="row ml-3">
            <div class="col-md-6">
                <div class="card card-body h-100 text-justify border-info fade-in">
                    <h4 class="text-center">Portfolio Website</h4>
                    <hr>
                    <p>This website is divided in four pages. The home page contains the home section, and the about and projects contains their respective sections.
                        Then there's the contact page which contains a contact form implemented in Django using a SQLite database.
                    </p>
                    <p>I built this website using Django as the backend and using Html & CSS with the help of Bootstrap for the views.
                        For deployment I'm using a Google Cloud Ubuntu VM instance which hosts my other projects. For more
                        details, here's the <a href="https://github.com/chancald"><u>Github</u></a> repo of this project:
                    </p>
                    <a class="text-center" href="https://github.com/chancald/personal-website"><img class="social" src="{% static 'images/github-logo.png' %}"></a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card card-body h-100 border-info text-justify fade-in-4">
                    <h4 class="text-center">Odoo Server</h4>
                    <hr>
                    <p>
                        Deployed an Odoo 13 server in a Google Cloud Ubuntu VM instance to showcase and demo Odoo apps
                        developed by me using the Odoo framework and creating custom modules using Python, XML and CSV files.
                    </p>
                    <p>
                        This Odoo instance can be accessed through this <a class="text-center" href="https://github.com/chancald/personal-website"><u>link</u></a>.
                        
                    </p>
                    <ul>
                        <li>Username: demo</li>
                        <li>Password: demo</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 mt-3">
                <div class="card card-body h-100 border-info text-justify fade-in-5">
                    <h4 class="text-center">Odoo App - Loan Request App</h4>
                    <hr>
                    <p>
                        This app allows the creation of loan requests after the purchase of any product. The main view is a template
                        with a form to be filled only with the client's necessary information. The values in the form are then used
                        to create reports, like loan request contracts that can be printed.
                    </p>
                    <p>
                        Here's the app github repository:
                    </p>
                    <p>  
                        The app can be accesed through this link:
                    </p> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>
