{% extends 'home/base.html' %}
{% load static %}
{% block title %}Projects{% endblock %}

{% block content %}
<div id="projects-section" class="fade-in"> 
    <div class="header">
        Projects
    </div>
    <div id="column-1" class="text-center">
        <h4 class="box-header">Odoo Server</h4>
        <hr>
        <p>
            Deployed an Odoo 13 server using a Google Cloud Ubuntu VM instance to showcase and demo Odoo modules.
            The modules were developed through the Odoo framework using Python, XML and CSV files.
        </p>
        <p>
            This Odoo instance can be accessed through this <a class="text-center" href="http://chandlercalderon.com:2424/"><u>link</u></a>.
        </p>
        <ul>
            <li>Username: demo</li>
            <li>Password: demo</li>
        </ul>
    </div>
    <div id="column-2" >
        <h4 class="box-header">Django - Ecommerce Website</h4>
        <hr>
        <p>
            Face masks ecommerce website, used Django as the backend
            and deployed it using Heroku. Some of the features are shopping cart functionality, sending of emails and user authentication.
        </p>
        <p>
            The website can be access through this <a class="text-center" href="http://tusmascarillasymas.com"><u>link</u></a>. Github repository:
        </p>
        <a href="https://github.com/chancald/masks_store"><img class="social" src="{% static 'images/github-logo.png' %}" height="50px" alt="Github logo"></a>
    </div>
        <div id="column-2" >
        <h4 class="box-header">Portfolio Website</h4>
        <hr>
        <p>
            This website was created with Django and deployed with Google Cloud. The
            Github repository can be found in:
        </p>
        <a href="https://github.com/chancald/personal_website"><img class="social" src="{% static 'images/github-logo.png' %}" height="50px" alt="Github logo"></a>
    </div>
</div>

{% endblock %}