body {
 font-family: 'Poppins', serif;
 margin:0px;
 font-size: 12px;
}

#navbar {
  background-color: white;
  width: 100%;
  position: fixed;
  z-index: 1;
  border-bottom: 2px solid #dedeef;
  display: inline-block;
}

#nav-logo {
  font-size: 1.8em;
  font-weight: 600;
  color: black;
  margin: 0px;
  padding: 0px;
}

nav ul {
  margin: 0px;
  padding: 10px 0px 10px 25px;
}

nav li {
  display: inline;
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none!important;
}

nav a {
  color: #777;
  font-size: 20px;
  padding: 5px;
}

nav ul li {
  display: inline;
  padding: 5px;
  font-weight: 500;
}

nav a:hover {
  color: #000;
  box-shadow:none;
}



#home-section {
  margin: 0px 0px 100px 0px;
  padding: 100px 0px 0px 0px;
  margin: 0px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


#home-left {
  font-size: 18px;
  width: 25rem;
  height: auto;
  text-align: center;
  padding: 10px;
}

#home-right li{
  margin: 10px 0 10px 0;
}


#email {
  padding: 10px;
}

#home-center {
  font-size: 18px;
  width: 30rem;
  height: auto;
  text-align: justify;
  padding: 20px;
}

#home-right {
  font-size: 18px;
  width: 30rem;
  height: 60vh;
  text-align: justify;
  padding: 20px;
  margin-left: 20px;
}

#chevron {
  text-align: center;
  padding-top: 50px;
  animation-duration: 3s;
  animation-name: fade-in-out;
  animation-iteration-count: infinite;
}

#about-section {
  margin: 100px 0px 100px 0px;
  padding: 100px 0px 50px 0px;
  background-color: #3a3f44;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.text-center {
  text-align: center;
}
/* #about-section li:hover {
  background-color: red;
  width: 28%;
  border-radius: 20%;
}
#about-me-text:hover {
  background-color: green;
  width: 55%;
  border-radius: 20%;
} */

#about-section #profile-pic {
width: 450px;
height: 400px;
padding: 0px 0px 0px 0px;
}

#about-section #profile-pic img {
  width: 100%;
  height: auto;
  border-radius: 50%;
  padding: 0px 20px 20px 20px;
}

#about-section #column-1 {
  color: white;
  width: 500px;
  height: auto;
  padding: 0px 25px 0px 25px;
}

#about-section #column-2 {
  color: white;
  width: 600px;
  height: auto;
  padding: 0px 25px 0px 25px;
}
/* #profile-pic:hover {
  transform: scale(1.2);
} */

#projects-section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding-top:70px;
  margin-top:50px;
  margin-bottom:180px;
  font-size: 20px;
}

.header {
  width: 100%;
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: 600;
  text-align: center;
}

.box-header {
  width: 100%;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;
}

#projects-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px;
}

#projects-section #column-1 {
  height: auto;
  width: 500px;
  padding: 25px;
  margin: 18px;
  text-align: justify;
  border-style: ridge;
  border-color: black;
  border-radius: 4%;
  box-shadow: 5px 10px #888888;
}
#projects-section #column-2 {
  width: 500px;
  padding: 25px;
  margin: 18px;
  text-align: justify;
  border-style: ridge;
  border-color: black;
  border-radius: 4%;
  box-shadow: 5px 10px #888888;
}

#contact-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-top:50px;
  margin-top:50px;
  margin-bottom:150px;
}

#contact-section #header {
  width: 100%;
}






.fade-in {
  animation-duration: 3s;
  animation-name: fade-in;
}

.fade-in-out {
  animation-duration: 1.5s;
  animation-name: fade-in-out;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}

@keyframes fade-in-out {
  from {
  opacity: 5%;
  }

  50% {
    opacity: 100%;
  }

  to {
    opacity: 5%;
  }
}
@keyframes fade-in {
  from {
  opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
