.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
  width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}
.square {
  height: 5px;
  width: 550px;
  margin: auto;
  background-color: #555;
}
.fade-in-out {
  animation-duration: 3s;
  animation-name: fade-in-out;
  animation-iteration-count: infinite;
}
.fade-in {
  animation-duration: 3s;
  animation-name: fade-in;
}
.fade-in-4 {
  animation-duration: 5s;
  animation-name: fade-in;
}
.fade-in-5 {
  animation-duration: 7s;
  animation-name: fade-in;
}
@keyframes fade-in-out {
  from {
  opacity: 0%;
  }

  50% {
    opacity: 100%;
  }

  to {
    opacity: 0%;
  }
}
@keyframes fade-in {
  from {
  opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}
.spacer { 
  margin:0; padding:0; height:250px;
}
.navbar-spacer { 
  margin:0; padding:0; height:50px;
}
.mt-6{
  margin-top: 200px;
}
.about-format{
  margin-top: 200px;
  margin-bottom: 10px;
}
.ml-6{
  margin-left: 100px;
}
.sect-format{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.projects-format{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 350px;
}
.divider-custom {
    margin: 1.25rem 0 1.5rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.divider-custom .divider-custom-line {
  width: 100%;
  max-width: 80rem;
  height: 0.25rem;
  background-color: #2c3e50;
  border-radius: 1rem;
  border-color: #2c3e50 !important;
}
.divider-custom .divider-custom-line:first-child {
  margin-right: 1rem;
}
.divider-custom .divider-custom-line:last-child {
  margin-left: 11rem;
}
.divider-custom .divider-custom-icon {
  color: #2c3e50 !important;
  font-size: 2rem;
}
.divider-custom.divider-light .divider-custom-line {
  background-color: #fff;
}
.divider-custom.divider-light .divider-custom-icon {
  color: #fff !important;
}
.page-section {
  padding: 6rem 0;
}
.bg-secondary {
  color: #2c3e50 !important;
}

.text-primary {
  color: #2c3e50 !important;
}
.text-secondary {
  color: #fff !important;
}
#profile-wrapper{
	text-align: center;
}
#profile-pic{
	height: auto;
  border-radius: 100%;
  max-width: 100%;
}
.nobull {
  list-style-type: none;
}