
{% load static %}

<!DOCTYPE html>
<html>
	<head>
		<title>Chandler Calderon</title>
                <link href="{% static '/css/main.css' %}" rel="stylesheet"
                type="text/css">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" 
		crossorigin="anonymous">
	</head>
	<body>
		<br>
		<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div id="profile-wrapper" class="card card-body h-100 border-info">
			        	<img id="profile-pic" src="{% static 'images/profile.jpg' %}" >	
					<hr>
					<h4>Chandler Calderon</h4>
					<p>I'm a Researcher turned into Software Developer</p>
				</div>
			</div>

			<div class ="col-md-9">
				<div class="card card-body h-100 border-info">
					<p>I have experience working with Web Applications and Data Science. Currently working as a Python developer designing, building and maintaining ERP open-source software.
					</p>
					<ul class="social-links">
						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>
						<li><img class="social" src="{% static 'images/github.png' %}"></li>
				</div>
			</div>
		</div>


		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100"></div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100"></div>
			</div>
		</div>
		<br>

		</div>
	</body>
</html>
